extends layout

block content
        div(class='login')
                          center
                                  h2 Login
                                  hr
                          form(action='login' method='POST' enctype='application/json')
                                  div(class='form-group')
                                          label(for='id') Nom d'utilisateur
                                          input(type='text' class='form-control' placeholder='Nom' name='username')
                                  div(class='form-group')
                                          label(for='password') Mot de passe
                                          input(type='password' class='form-control' id='password' placeholder='Mot de passe' name='password')
                                  button(type="submit" class="btn btn-primary") Login
