html {
    background: url("/public/img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    text-decoration:none;
    color: white;
}
a:hover {
    background-color:none;
    text-decoration: none;
    color: #169f84;                         
}
button {
    text-decoration:none;
    color: white;
    background-color:transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
    overflow: hidden;

}
button:hover {
    background-color:none;
    text-decoration: none;
    color: #169f84;                         
}
button:focus {
    outline:0;
}


#tudobem-wrapper{
    position:absolute;
    left: 50%;
    top: 20%;
    color: white;
    font-family: "Helvetica", "Arial";
}

#tudobem-title {
    font-size:  12vw;
    margin-bottom: -2vw;
    padding-bottom: 0vw;
}

#tudobem-menu {
    position: relative;
    padding: 0;
    margin-top:0;
    margin-bottom: 0;
    font-size: 1.8vw;
}
#tudobem-menu li {
    display: inline;
    list-style-type: none;
    /* padding-right: 1%; */
    padding-right: 0.5vw;
}
#tudobem-menu li:after{
    padding-left: 2vw;
    content:'\00B7';
}
#last {
    padding-right: 0%!important;
}
#last:after {
    padding-right: 0%!important;
    padding-left: 0%!important;
    content: ''!important;
}

#tudobem-about {
    display: none;
    color:black;
    font-size: 2vw;
    background-color: rgba(255,255,255,0.8);
    padding: 3vw;
    margin: 0%;
}

p {
    padding:0;
    margin:0;
    font-size: 1.5vw;
}

/* BOOKINGS  */
#tudobem-dates {
    display: none;
    color: black;
    font-size: 1.2vw;
    background-color: rgba(255,255,255,0.8);
    padding: 1vw 1vw 1vw 1vw;
    margin: 0%;
}
#tudobem-bookings {
    max-height: 800vw;
    overflow: auto;
    padding-left: 1vw;
}
#tudobem-bookings li {
    list-style-type: none;
    padding-bottom: 1vw;
}
#tudobem-booking li {
    display: inline;
    list-style-type: none;
    padding-right: 0.5vw;
    margin: 0;
}
#tudobem-booking li:after{
    padding-left: 1vw;
    content:'-';
}

/* MANAGE BOOKINGS */
.tudobem-bouton{
    margin-right: 3%;
}

.bookings-td{
    white-space: nowrap;
}
.login {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 50%;
    top: 20%;
    width: 300px;
    padding: 20px;
}
#addbooking{
    background-color: rgba(188,194,198,0.5);
    padding: 1%;
    max-width:100% !important;
    min-width: 50% !important;
    width: 100vw;
}

